*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 10/16 = 62.5%, 1rem = 10px */
}

.text--large {
  font-size: 4rem;
}

.text--med {
  font-size: 2rem;
}

.header {
  background-color: #468261;;
  height: 75vh;
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.heading {
  padding: 2rem;
}

.calendar-container {
  width: 100%;
  font-size: 2rem;
}
.calendar {
  display: inline-block;
  padding: 2rem;
}

.calendar__month {
  text-align: center;
  caption-side: top;
}
.calendar__day {
  /* width: 14.2857142857%; */
  width: 4rem;
  border: .1rem solid white;
  box-sizing: border-box;
  padding: .5rem 0rem;
}

.calendar__day--empty {
  color: white;
}

.calendar__dayOfWeek {
  padding: .5rem 0rem;
}

.highlighted {
  background-color: red;
}
