body {
  width: 100vw;
}

.header {
  background-color: #468261;;
  height: 75vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.calendar-container {
  width: 100%;
}
.calendar {
  display: inline-block;
}

.highlighted {
  background-color: red;
}
