*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.header {
  background-color: #468261;;
  height: 75vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.calendar-container {
  width: 100%;
}
.calendar {
  display: inline-block;
}

.highlighted {
  background-color: red;
}
